<h1> Create New Discount </h1>

<div class="new-discount">
  <%= form_with url: "/merchants/#{@discount.merchant.id}/discounts/new" do |form| %>
    <%= form.label :discount %>
    <%= form.number_field :discount, step: :any %>
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
    <%= form.submit%>
  <% end %>
</div>
