<h1> New Discount for <%= @merchant.name %> </h1>

<div class="new-discount">
  <%= form_with url: "/merchants/#{@discount.id}/discounts/new" do |form| %>
    <%= form.label :discount %>
    <%= form.number_field :discount, step: :any %>
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
    <%= form.submit%>
  <% end %>
</div>
